{# Navigation Link Variable #}
{% set footerSocialText = footer.footerSocialText %}
{% set footerSocialIcons = footer.footerSocialIcons.all() %}


{% set footer = craft.globalSets()
  .handle('branding')
  .with(['footerLogo'])
  .collect()
  .first()
%}

{% set logoUrl = footer.footerLogo.collect().first().url() %}
{% set logoAlt = footer.footerLogo.collect().first().altTag %}

<footer class="w-screen flex justify-between items-center px-32 py-24 ">
	<div class="">
		{% if logoUrl %}
			<img src="{{ logoUrl }}" alt="{{ logoAlt }}"/>
		{% endif %}
	</div>
	<div class="flex flex-col items-end">
		<p class="text-white font-bold ">{{footerSocialText}}</p>
		<div class="flex gap-5 pt-5">
			{% for footerIcons in footerSocialIcons %}
				<a href="#" class="transition duration-500 hover:fill-secondary "><img class="" src="{{footerIcons.url}}"></a>
			{% endfor %}
		</div>
	</div>
</footer>
